
@font-face {
    font-family: myFontp;
    src: url("https://fonts.google.com/specimen/Montserrat");
  }

  @font-face {
    font-family: myFontH1;
    src: url("https://fonts.google.com/specimen/Fraunces");
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px 0;
    background-color: hsl(30, 38%, 92%) ;
}
header{
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0PX ;
    
}
h1{
    color: hsl(159, 93%, 6%);
    font-family: myFonth1;
    font-size: 30px;
    font-weight: 700;
    
}

p{
    font-family: myFontp;
    font-size: 14px;
    font-weight: 500;
}
.price{
    color: hsl(158, 36%, 37%);
}

strike{
    font-size: 15px;
    font-weight: 450;
}

main{
    height: 100%;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    overflow: hidden;
}

main #pics{
height: 100%;
width: 300px;
background-image: url(WhatsApp\ Image\ 2022-07-25\ at\ 5.18.40\ PM.jpeg);
background-position:center ;
background-repeat:no-repeat;
background-size: cover;

}
main #word{
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: left;
    background-color: #FFFFFF;
    padding: 40px;
    text-align: left;
}

main #word button{
    color: white;
    width: 100%;
    padding: 15px 45px;
    border: none;
    background-color: hsl(158, 36%, 37%);
}

main #word button:hover{
    
    color: rgb(255, 255, 255);
    background-color: hsl(159, 93%, 6%);
    
}



    
    @media screen and (max-width: 550px) {
    
        body{
          
            padding:0;
        }
        header{
            height: 100%;
            padding: 20px 0px ;
          
        }
    
        main{
            height: 100%;
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 15px;      
        }
    
        main #pics{
            width: 100%;
            border-radius: 15px 15px 0 0;
            background-image: url(WhatsApp\ Image\ 2022-07-25\ at\ 5.18.40\ PM.jpeg);
            background-position:center ;
            background-repeat:no-repeat;
            background-size: cover;      
        }
                
            main #word{
                /* height: 350px; */
                width: 100%;
                padding: 20px;
                gap: 15px;
            }
        
    }





    
                
    @media (max-height: 480px) and (max-width: 320px) {
            
        body{
    
            height: 100vh;
            width: 100%;
        }
        header{
            height: 100%;
            width: 100%;
            padding: 20px;
          
        }
        h1{
            font-size: 23px;
            font-weight: 700;
        }
        
        p{
            font-size: 11px;
            font-weight: 450;
        }
        strike{
            font-size: 14px;
            font-weight: 450;
        }

      
        main{
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: transparent;
            box-shadow: none;
            
        }
        
        
        main #pics{
            height: 100px;
            width: 80%;
            border-radius: 15px 15px 0 0;      
            }
    
            main #word{
                width: 80%;
                padding: 20px;
            }
        

    }
